/node_modules
/public/hot
/public/uploads/*
/public/storage
/public/web/images/avatars/*
/storage/*.key
/vendor
/.idea
/.vagrant
/public/web/css
/public/web/js
Homestead.json
Homestead.yaml
npm-debug.log
.env
.htpasswd
/_ide_helper.php
/_ide_helper_models.php
/.phpstorm.meta.php
composer.lock
/yarn-error.log
/public/mix-manifest.json
/public/web/vue/2-vue-app.js
/public/web/vue/2-vue-app.js.map
/public/admin/css/combine.css
/public/admin/css/combine.css.map
