.purchase-product {
  width:100%;
  height:100vh;
  position:fixed;
  left:0;
  top:0;
  z-index:999;
  background: rgba(1,1,1,0.6);
  text-align:center;
  display:none;

  .product-purchase-container {
    width: fn-w(960);
    height: fn-w(427);
    background-color: $white;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    margin-top: calc(50vh - #{fn-w(427)} / 2);
    
    .content {
      position:relative;
      text-align: left;
      padding:$f34;
      
      .product-image {
        @include product-image;
      }

      .product-description {
        @include product-details;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        display: inline-block;
        margin-left: $f34;
        .product-type {
          font-family: AcrobatBold, sans-serif;
          font-size: $f21;
          line-height:$f21;
          color: $red;
          text-transform: uppercase;
          margin-bottom: $f8;
        }
      }

      .product-price {
        @include centerer();
        right:0;
        left:auto;
        font-family: AcrobatBold, sans-serif;
        font-size:$f55;
        line-height:$f55;
        color: $black;
        vertical-align: bottom;
        span {
          font-family: AcrobatBold, sans-serif;
          font-size:$f34;
          line-height:$f34;
          color: $black;
          vertical-align: bottom;
        }
      }


    }
    
    .navigation {
      display:block;
      width: fn-w(960);
      background-color:$black;
      position:absolute;
      left:0;
      bottom:0;
      padding:$f34;
    }
  }
}